@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Merriweather', serif;
  font-family: 'Inter', sans-serif;
}
section {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 120px;
}
.btn-primary {
  border-radius: 8px;
  background: #ff0000;
  padding: 16px 32px;
  color: rgba(255, 255, 255, 1);
  border: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
/* banner section styles */
#banner {
  width: 100%;
  height: 600px;
  background: linear-gradient(
      180deg,
      rgba(7, 2, 17, 0.461) 0%,
      rgba(7, 2, 17, 0.216) 100%
    ),
    url('../images/Banner\ Image.png') center/cover no-repeat;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
.banner-container {
  padding-top: 150px;
}
.banner-sub-title {
  color: #ffffff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.banner-title {
  color: #ffffff;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  text-align: center;
}
/* discount section styles */
.discount-container {
  width: 810px;
  margin: 0 auto;
  text-align: center;
}
.discount-title {
  color: #ff0000;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 42px;
}
.discount-description {
  color: #ff0000;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
}
.discount-sub-title {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 48px;
}
/* wellcome section styles */
.wellcome {
  height: 600px;
  background: linear-gradient(
      90deg,
      rgba(7, 2, 17, 0.753),
      rgba(7, 2, 17, 0) 100%
    ),
    url('../images/Vectorrr.png') center/cover no-repeat;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 80px; */
  text-align: left;
  color: #ffffff;
}
.wellcome-container {
  padding: 120px;
}
.wellcome-title {
  width: 640px;
  color: rgba(255, 255, 255, 1);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  margin-bottom: 22px;
}
.wellcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 46px;
}
.wellcome-img {
  padding: 68px 130px 67px 0px;
}
/* address section styles */
.address {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}
.address-container {
  text-align: center;
  padding: 100px 375px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 44px;
}
.unique-color {
  color: red;
}
.address-container .btn-primary {
  margin-top: 44px;
}
/* New Best offer section */
.offer-section {
  height: 465px;
}
.offer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.offer-text-container {
  width: 33%;
}
.offer-sub-title {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.offer-title {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  margin: 15px 0;
  text-transform: capitalize;
}
.offer-description,
.new-year-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.offer-img-container {
  max-width: 33%;
}
.offer-img-container img {
  box-sizing: border-box;
  border: 15px solid rgba(255, 0, 0);
  border-radius: 50%;
  padding: 25px;
}
.new-year-container {
  display: flex;
  flex-direction: column;
}
.new-year-title {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
/* Holidays sell section styles */
.sale-section {
  position: relative;
}

.sale-sub-title {
  font-size: 18px;
  color: #222;
  text-align: center;
  margin-bottom: 16px;
}

.title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.desc {
  color: #555;
  font-size: 14px;
  width: 55%;
  margin: 0 auto 50px;
  line-height: 1.5;
}
.content {
  position: relative;
  height: 320px;
}
.box-img {
  width: 470px;
  position: absolute;
  bottom: -180px;
  left: 150px;
  z-index: 1;
}
.discount-circle {
  position: absolute;
  right: 100px;
  bottom: 20px;
}
/* portfoli section style */
.portfolio-title {
  color: rgba(7, 2, 17, 1);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-align: left;
  text-transform: capitalize;
  margin: 18px 0px;
}
.portfolio-section h6 {
  font-size: 30px;
}
.description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 80%;
  margin: 15px 0px;
}
.portfolio-image-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
}
/* subscribe section */
.subscribe-section {
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.subscribe-container {
  padding: 110px 70px;
}
.subscribe-container img {
  width: 150px;
  height: 150px;
}
.subscribe-title {
  color: rgba(7, 2, 17, 1);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 18px 0px;
}
.subscribe-section p {
  text-align: center;
  margin: 0 auto;
}
.input-user {
  margin: 25px 0px;
}
.input-user input {
  width: 520px;
  height: 62px;
  border: none;
  border-radius: 50px 0px 0px 50px;
  background: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
}
.input-user input:focus {
  outline: none;
}
.input-user button {
  width: 150px;
  height: 62px;
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);
  margin-left: -8px;
  padding: 16px 32px;
  color: #fff;
  border: none;
  font-size: 20px;
}
/* Footer Section Style */
footer {
  margin-top: 120px;
  background: rgba(7, 2, 17, 1);
  height: 600px;
  color: white;
}
.footer-first-txt {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
}
footer p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
hr {
  margin: 60px 0px;
  color: rgba(255, 255, 255, 0.15);
}
.social-media-icon {
  text-align: center;
}
.social-media-icon img {
  padding-left: 25px;
}
.footer-second-txt {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
